.App{
  display: grid;
  grid-template-areas: 
  'div1 div1 div1'
  
  'div2 div2 div2';
}

.App_createQuestion{
  grid-area: div1;
  background-color: red;
  height: 30vh;
}

.App_questions{
  grid-area: div2;
  background-color: blue;
  height: auto;
  overflow: auto;
}